form {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  input,
  textarea {
    padding: 5px;
  }
  
  form button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
  }